body {
  font-size: 18px;
}

h1 { font-size: 2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.1em; }
h5 { font-size: .8em; }

section {
  $baseColor: #e4d234;
  margin-bottom: 25px;
  padding: 25px;
  border: 1px solid darken($baseColor, 10%);
  border-radius: 6px;
  background-color: lighten($baseColor, 5%);
  box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}
